* {
  margin: 0;
  padding: 0;
  font-family: 'Iceland', monospace;
}

body {
  background-color: #000;
}

table {
  width: 80%;
  margin: auto;
}

td {
  width: 50px;
  height: 50px;
  margin: 10px;
}

button {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  border-radius: 15px;
  font-size: 2.5rem;
  border: 2px solid;
  margin: 3px;
}

button:active {
  background-color: #555;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

footer p{
  margin: 0;
  padding: 20px;
  background-color: #fa8072;
  color: #fff;
  font-family: 'Menlo', sans-serif;
  font-size: 12px;
  text-align: center;
}

.container {
  padding: 0;
}

.calculator {
  border: 2px solid #fff;
  background-color: #333;
  margin: 50px auto;
  width: 500px;
  height: 600px;
  border: 2px solid #efefef;
  border-radius: 2%;
  text-align: center;
}

.screen {
  border-radius: 10px 10px 0 0;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 5rem;
  text-align: right;
  padding: 25px 7px 0;
}

.pad {
  margin: 15px 0;

}

.operator {
  font-weight: bold;
}

.clear {
  position: relative;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}
